<template>
  <div>
    <div>
      <!-- //ฟอร์มป็อปอัพ //-->
      <b-modal
        id="modal-form-products"
        ref="modal-form-products"
        :title="title"
        @hidden="resetModal"
        @ok="handleOk"
      >
        <form ref="form" @submit.stop.prevent="handleSubmit">
          <b-form-group
            label="name"
            label-for="name"
            :invalid-feedback="invalidFeedbackname"
            :valid-feedback="validFeedbackname"
            :state="statename"
          >
            <b-form-input id="name"  placeholder="add product name"  v-model="form.name" required></b-form-input>
          </b-form-group>

          <b-form-group label="Status" label-for="Status">
            <select
              v-model="form.status"
                 class="custom-select mb-2 mr-sm-2 mb-sm-0"
              id="inlineFormCustomSelect"
            >
             
              <option value=True>True</option>
              <option value=False>False</option>
            </select>
            <br />
          </b-form-group>

         
        </form>
 
        
      </b-modal>
      <!-- //ออกจากฟอร์ม //-->

      <br />

      <!-- //title bar //-->
      <div class="row bg-light shadow-lg" style="height: 50px">
        &nbsp;
        <h4>Product Management</h4>
      </div>
      <!-- //เว้นวรรค //-->
      <div><br /></div>
      <!-- //ปุ่มเเอด //-->
      <b-button
        @click="addnewProducts"
        v-b-modal.modal-form-products
        variant="success"
        class="float-right"
        >AddProduct</b-button
      >
      <div></div>

      <div class="row" style="height: 50px"></div>
      <div class="row">
        <!-- //ตาราง //-->
        <table class="table   thead-dark  shadow-lg">
          <thead class="thead-light">
            <tr>
              <th scope="col">id</th>
              <th scope="col">name</th>
              <th scope="col">status</th>
            
              <th scope="col">operation</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(tod, index) in getTodobyPaging" v-bind:key="index">
              <th>{{ tod._id }}</th>
              <th>{{ tod.name }}</th>
              <th>{{ tod.status }}</th>
            
              <th>
                <b-button @click="editProducts(tod)">Edit</b-button>&nbsp;
                <b-button @click="delProducts(tod)" variant="danger"
                  >del</b-button
                >
              </th>
            </tr>
          </tbody>
        </table>

        <!-- //เลือกหน้า //-->
        <ul class="pagination text-center">
          <li class="page-item" v-if="pagenumber == getPage - 1">
            <a class="page-link" href="#">Previous</a>
          </li>
          <li class="page-item" v-for="page in getPage" v-bind:key="page">
            <a class="page-link" href="#" @click="pagenumber = page - 1">{{
              page
            }}</a>
          </li>
          <li class="page-item" v-if="pagenumber != getPage - 1">
            <a class="page-link" href="#">Next </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions, mapState,} from 'vuex'
export default {
  data () {
    return {
      add: true,
      title: 'เพิ่มสินค้าใหม่',
      search: ' ',
      form: {
        _id: '',
        name: '',
        status: '',
      },

      productlist: [],
      pagenumber: 0,
      pagesize: 5,
      numpage: 0,
      searchu: '',

      fields: ['name', 'status', 'Operation']
    }
  },
  methods: {
     ...mapActions(['SET_ID','SET_NAME','SET_FORM','getData','insertData','updateData','delelteData']),
   

    editProducts (product) {
      this.add = false
      
      this.$bvModal.show('modal-form-products')
       this.title = "เเก้ไขข้อมูลสินค้า"
      this.form = { ...product }
      console.log(this.form)
    },

    addProducts (product) {
      product.id = this.lastid++
      this.productlist.push(product)
      this.resetModal()
    },
    addnewProducts () {
      this.add = true
      this.$bvModal.show('modal-form-products')
    },
    updateProducts (product) {
      const index = this.productlist.findIndex(item => item.id === product.id)
      this.productlist.splice(index, 1, product)
    },
    delProducts (product) {
      this.boxTwo = ''
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + product.name + ' หรือไม่', {
          title: 'Please Confirm',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            console.log(product._id)
           //this.delUsers()
             this.SET_ID(product._id)
             this.delelteData()
          }
        })
    },
    onContext (ctx) {
      // The date formatted in the locale, or the `label-no-date-selected` string
      this.formatted = ctx.selectedFormatted
      // The following will be an empty string until a valid date is entered
      this.selected = ctx.selectedYMD
    },

    resetModal () {
      this.form = {
        _id: '',
        name: '',
        status: '',
      
      }
    },
    handleOk (bvModalEvt) {
      bvModalEvt.preventDefault()

      this.handleSubmit()
    },

    handleSubmit () {
      if (
        this.statename == false ||
        this.statestatus == false ||
        this.stateCost == false
      ) {
        return
      }
      if (this.add == false) {
        // thProductspdateUser(this.form);
        // userserviProductspdateUser(this.form)
        //this.getProduts()
      //update data
       this.SET_FORM(this.form)
       this.updateData()

        this.$nextTick(() => {
          this.$bvModal.hide('modal-form-products')
        })
      } else {
        this.lastid++
        //this.addUser(this.form);
        //userservice.addUser(this.form);
        delete this.form._id
         /// insert user data
       this.SET_FORM(this.form)
       this.insertData()
        this.$nextTick(() => {
          this.$bvModal.hide('modal-form-products')
        })
      }
    }
  },

  computed: {
     ...mapState({
      listdata: state => state.listdata,
      
      
    }),
    getTodobyPaging () {
      var begin = this.pagenumber * this.pagesize
      var end = begin + this.pagesize

      return this.listdata.slice(begin, end)
    },
    getPage () {
      return Math.ceil(this.listdata.length / this.pagesize)
    },
    Search () {
      return this.form.Product.length >= 2 ? true : false
    },

    statename () {
      return this.form.name.length >= 3
    },
    invalidFeedbackname () {
      if (this.form.name.length >= 3) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'รหัสต้องมีขนาด 3 ตัว'
      } else {
        return 'ต้องใส่ชื่อสินค้า'
      }
    },
    validFeedbackname () {
      return this.statename === true ? 'สำเร็จ' : ''
    },

    statestatus () {
      return this.form.status.length > 3
    },
    invalidFeedbackstatus () {
      if (this.form.status.length == 0) {
        return 'ต้องใส่ราคา'
    }else {
        return 'ต้องใส่ราคา'
      }
    },
    validFeedbackstatus () {
      return this.statestatus === true ? 'สำเร็จ' : ''
    },

   
  },
  mounted () {
    console.log('Vue monted')
    // this.getProduts()
   this.SET_NAME("status")
   this.getData()

  }
}
</script>
