<template>
  <div class="col-md-12">
    <b-card no-body class="overflow-hidden" style="max-width: 300px" bg-variant="light" text-variant="white">
      <b-row no-gutters>
        <b-card-body>
          <b-card-img
            src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
            class="profile-img-card"
            rounded="circle"
          ></b-card-img>
          <b-card-text>
            <form name="form">
              <div class="form-group">
                

                <b-form-group>
                  <b-form-input
                    name="username"
                    v-model="user.username"
                    v-validate="'required'"
                    required
                    placeholder="Username"
                  ></b-form-input>
                </b-form-group>

                <div
                  v-if="errors.has('username')"
                  class="alert alert-danger"
                  role="alert"
                >
                  Username is required!
                </div>
              </div>

              <b-form-group>
              
                <b-form-input
                  name="password"
                  v-model="user.password"
                  type="password"
                  class="form-control"
                  v-validate="'required'"
                  placeholder="Password"
                >
                </b-form-input>
                <div
                  v-if="errors.has('password')"
                  class="alert alert-danger"
                  role="alert"
                >
                  Password is required!
                </div>
              </b-form-group>

              <b-form-group>
                <b-button  block  variant="outline-primary"  @click="handleLogin">
                  <span
                    v-show="loading"
                    class="spinner-border spinner-border-sm"
                  ></span>
                  <span>Login</span>
                </b-button>
              </b-form-group>

              <b-form-group>
                <div v-if="message" class="alert alert-danger" role="alert">
                  {{ message }}
                </div>
              </b-form-group>
            </form>
          </b-card-text>
        </b-card-body>
      </b-row>
    </b-card>

    <div></div>
    
<br>
      <br>
        <br>
          <br>
            <br>
              <br>
              
  

  </div>

</template>

<script>
import User from "../models/user";

export default {
  name: "Login",
  data() {
    return {
      user: new User("", ""),
      loading: false,
      message: "",
      form: {
        _id: "",
        name: "",
        status: false,
      },
      item: {
        _id: "5f8c484d497d1a105c8afe87",
        name: "1234",
        status: false,
      },
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },
  created() {
    if (this.loggedIn) {
      this.$router.push("/profile");
    }
  },
  methods: {
    handleLogin() {
      this.loading = true;
      this.$validator.validateAll().then((isValid) => {
        if (!isValid) {
          this.loading = false;
          return;
        }

        if (this.user.username && this.user.password) {
          this.$store.dispatch("auth/login", this.user).then(
            () => {
              this.$store.dispatch("SET_LOGIN", true);
              console.log(this.$store.state.slogin);

              this.$router.push("/Customer");
            },
            (error) => {
              this.loading = false;
              this.message =
                (error.response && error.response.data) ||
                error.message ||
                error.toString();
            }
          );
        }
      });
    },
  },
  mounted() {},
};
</script>

<style scoped>
label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
</style>