<template>
 
 
  <div >
  <template  v-if="this.currentUser.roles == 'ROLE_ADMIN'">  
 <b-nav vertical class = 'bg-secondary text-center' style="height: 40px">
  
   <b class = 'text-white'>Navigator</b>
   </b-nav>  
 
    
    
    
    <b-nav vertical class = "bg-dark text-center" style="height: 866px">
        <b-nav-item active>
        <router-link to="/users"><b-button 
        id="user" 
        class="btn btn-secondary" 
        style="width:90%" 
        onclick=
        "document.getElementById('user').className='btn btn-warning',
        document.getElementById('user').style='width:90%',

        document.getElementById('product').className='btn btn-secondary ',
        document.getElementById('product').style='width:90%',
       
        document.getElementById('custumer').className='btn btn-secondary '
        document.getElementById('custumer').style='width:90%',

        document.getElementById('vendor').className='btn btn-secondary',
        document.getElementById('vendor').style='width:90%'

        ">
        
         <b-icon icon="tools"></b-icon>
        <b-icon icon="person-fill"></b-icon> 
        User_Management
        </b-button></router-link>
        </b-nav-item>



        <b-nav-item active>
        <router-link to="/Product"><b-button 
        id="product" 
        class="btn btn-secondary" 
        style="width:90%" 
        onclick="document.getElementById('product').className='btn btn-warning',
        document.getElementById('product').style='width:90%',

        document.getElementById('user').className='btn btn-secondary ',
        document.getElementById('user').style='width:90%',
       
        document.getElementById('custumer').className='btn btn-secondary '
        document.getElementById('custumer').style='width:90%',

        document.getElementById('vendor').className='btn btn-secondary',
        document.getElementById('vendor').style='width:90%'


        "> <b-icon icon="tools"></b-icon>
           <b-icon icon="basket3-fill"></b-icon>
      
       Product_Management 
        </b-button> </router-link>
        </b-nav-item>



        
        <b-nav-item active>
          <router-link to="/Customer"><b-button 
        id="custumer" 
        class="btn btn-secondary" 
        style="width:90%" 
        onclick="document.getElementById('custumer').className='btn btn-warning',
        document.getElementById('custumer').style='width:90%',

        document.getElementById('user').className='btn btn-secondary ',
        document.getElementById('user').style='width:90%',
       
        document.getElementById('product').className='btn btn-secondary '
        document.getElementById('product').style='width:90%',

        document.getElementById('vendor').className='btn btn-secondary',
        document.getElementById('vendor').style='width:90%'

        ">
      <b-icon icon="tools"></b-icon>
      <b-icon icon="people"></b-icon>
        Custumer_Management  
        </b-button></router-link>
        </b-nav-item>



        <b-nav-item active>
        <router-link to="/Vendor"><b-button 
        id="vendor" 
        class="btn btn-secondary" 
        style="width:90%" 
        onclick="document.getElementById('vendor').className='btn btn-warning',
        document.getElementById('vendor').style='width:90%',

        document.getElementById('user').className='btn btn-secondary ',
        document.getElementById('user').style='width:90%',
       
        document.getElementById('product').className='btn btn-secondary '
        document.getElementById('product').style='width:90%'

        document.getElementById('custumer').className='btn btn-secondary',
        document.getElementById('custumer').style='width:90%'

        ">
        <b-icon icon="tools"></b-icon>
      <b-icon icon="people-fill"></b-icon>
       Vendor_Management 
        </b-button> </router-link>
        </b-nav-item>
      
      
    </b-nav>

    </template>
     
    <template  v-if="this.currentUser.roles == 'ROLE_USER'">  
      <b-nav vertical class = 'bg-secondary text-center' style="height: 40px">
  
   <b class = 'text-white'>Navigator</b>
   </b-nav>  
 
    
    
    
    <b-nav vertical class = "bg-dark text-center" style="height: 866px">
        <b-nav-item active>
        <router-link to="/users"><b-button 
        id="user" 
        class="btn btn-secondary" 
        style="width:90%" 
        onclick=
        "document.getElementById('user').className='btn btn-warning',
        document.getElementById('user').style='width:90%',

        document.getElementById('product').className='btn btn-secondary ',
        document.getElementById('product').style='width:90%',
       
        document.getElementById('custumer').className='btn btn-secondary '
        document.getElementById('custumer').style='width:90%',

        document.getElementById('vendor').className='btn btn-secondary',
        document.getElementById('vendor').style='width:90%'
        ">
          <b-icon icon="person-fill"></b-icon> 
        User 
        </b-button></router-link>
        </b-nav-item>



        <b-nav-item active>
        <router-link to="/Product"><b-button 
        id="product" 
        class="btn btn-secondary" 
        style="width:90%" 
        onclick="document.getElementById('product').className='btn btn-warning',
        document.getElementById('product').style='width:90%',

        document.getElementById('user').className='btn btn-secondary ',
        document.getElementById('user').style='width:90%',
       
        document.getElementById('custumer').className='btn btn-secondary '
        document.getElementById('custumer').style='width:90%',

        document.getElementById('vendor').className='btn btn-secondary',
        document.getElementById('vendor').style='width:90%'
        ">
         <b-icon icon="basket3-fill"></b-icon>
       Product  
        </b-button> </router-link>
        </b-nav-item>



        
        <b-nav-item active>
          <router-link to="/Customer"><b-button 
        id="custumer" 
        class="btn btn-secondary" 
        style="width:90%" 
        onclick="document.getElementById('custumer').className='btn btn-warning',
        document.getElementById('custumer').style='width:90%',

        document.getElementById('user').className='btn btn-secondary ',
        document.getElementById('user').style='width:90%',
       
        document.getElementById('product').className='btn btn-secondary '
        document.getElementById('product').style='width:90%',

        document.getElementById('vendor').className='btn btn-secondary',
        document.getElementById('vendor').style='width:90%'
        ">
        <b-icon icon="people"></b-icon>
        Custumer 
        </b-button></router-link>
        </b-nav-item>


          <b-nav-item active>
          <router-link to="/Vendor"><b-button 
        id="vendor" 
        class="btn btn-secondary" 
        style="width:90%" 
        onclick="document.getElementById('vendor').className='btn btn-warning',
        document.getElementById('vendor').style='width:90%',
        
        document.getElementById('custumer').className='btn btn-secondary',
        document.getElementById('custumer').style='width:90%',

        document.getElementById('user').className='btn btn-secondary ',
        document.getElementById('user').style='width:90%',
       
        document.getElementById('product').className='btn btn-secondary '
        document.getElementById('product').style='width:90%'
        ">
        <b-icon icon="people-fill"></b-icon>
        vendor 

        </b-button></router-link>
        </b-nav-item>
      
      
    </b-nav>
      
      </template>
  </div>

 
</template>
<script>
export default {
   


  computed: {
     
    currentUser() {
    
      
      return this.$store.state.auth.user;
    },
    showAdminBoard() {
      if (this.currentUser && this.currentUser.roles) {
        return this.currentUser.roles.includes('ROLE_ADMIN');
      }

      return false;
    },
    showModeratorBoard() {
      if (this.currentUser && this.currentUser.roles) {
        return this.currentUser.roles.includes('ROLE_MODERATOR');
      }

      return false;
    }
  },
  methods: {
  
    logOut() {
      this.$store.dispatch('SET_LOGIN',false);
      
      this.$store.dispatch('auth/logout');
      this.$router.push('/login');
        
    },
     setRole(){
         this.currentUser.roles
      }
  }
};
</script>


