<template>
  <div>
    <div>
      <!-- //ฟอร์มป็อปอัพ //-->
      <b-modal
        id="modal-form-customers"
        ref="modal-form-customers"
        :title="title"
        @hidden="resetModal"
        @ok="handleOk"
      >
        <form ref="form" @submit.stop.prevent="handleSubmit">
          <b-form-group
            label="name"
            label-for="name"
            :invalid-feedback="invalidFeedbackname"
            :valid-feedback="validFeedbackname"
            :state="statename"
          >
            <b-form-input
              id="name"
              placeholder="Insert name"
              v-model="form.name"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group
            label="address"
            label-for="address"
            :invalid-feedback="invalidFeedbackaddress"
            :valid-feedback="validFeedbackaddress"
            :state="stateaddress"
          >
            <b-form-input
              id="address"
              placeholder="Insert address"
              v-model="form.address"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group
            label="dob"
            label-for="dob"
            :invalid-feedback="invalidFeedbackCost"
            :valid-feedback="validFeedbackCost"
            :state="stateCost"
          >
            <b-form-input
              type="date"
              placeholder="Insert customer birthday"
              id="dob"
              v-model="form.dob"
              required
            ></b-form-input>
          </b-form-group>

          <label for="">Gender</label>
          <select
            v-model="form.gender"
            class="custom-select mb-2 mr-sm-2 mb-sm-0"
            id="inlineFormCustomSelect"
            >Select gender

            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
          <b-form-group
            label="Number"
            label-for="name"
            :invalid-feedback="invalidFeedbacknumber"
            :valid-feedback="validFeedbacknumber"
            :state="statenumber"
          >
            <b-form-input
              id="name"
              v-model="form.mobile"
              placeholder="Insert custumer number"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group
            label="Email"
            label-for="name"
            :invalid-feedback="invalidFeedbackemail"
            :valid-feedback="validFeedbackemail"
            :state="stateemail"
          >
            <b-form-input
              for="validationDefaultUsername"
              id="name"
              v-model="form.email"
              placeholder="Insert custumer email"
              required
            ></b-form-input>
          </b-form-group>
        </form>
      </b-modal>
      <!-- //ออกจากฟอร์ม //-->

      <br />

      <!-- //title bar //-->
      <template v-if="this.currentUser.roles == 'ROLE_ADMIN'">
      <div class="row bg-light shadow-lg" style="height: 50px">
        &nbsp;
        <h4>Custumer Management</h4>
      </div>
      </template>

      <template v-if="this.currentUser.roles == 'ROLE_USER'">
      <div class="row bg-light shadow-lg" style="height: 50px">
        &nbsp;
        <h4>Custumer Table</h4>
      </div>
      </template>
      <!-- //เว้นวรรค //-->
      <div><br /></div>
      <!-- //ปุ่มเเอด //-->
       <template v-if="this.currentUser.roles == 'ROLE_ADMIN'">
      <b-button
        @click="addnewCustomers"
        v-b-modal.modal-form-Customers
        variant="success"
        class="float-right"
        >AddCustomer</b-button>
        </template>
      <div></div>
 <div class="row" style="height: 50px"></div>

    <br>
      <div class="row">
        <!-- //ตาราง Admin//-->
        
        <template v-if = "this.currentUser.roles == 'ROLE_ADMIN'">
        <table class="table   thead-dark  shadow-lg">
          <thead class="thead-light">
            <tr>
              <th scope="col">name</th>
              <th scope="col">address</th>
              <th scope="col">dob</th>
              <th scope="col">gender</th>
              <th scope="col">mobile</th>
              <th scope="col">email</th>
              <th scope="col">operation</th>
            </tr>
          </thead>
          <tbody  class="thead-light">
            <tr v-for="(tod, index) in getTodobyPaging" v-bind:key="index">
              <th>{{ tod.name }}</th>
              <th>{{ tod.address }}</th>
              <th>{{ tod.dob }}</th>
              <th>{{ tod.gender }}</th>
              <th>{{ tod.mobile }}</th>
              <th>{{ tod.email }}</th>
              <th>
                <b-button @click="editCustomers(tod)">Edit</b-button>&nbsp;
                <b-button @click="delCustomers(tod)" variant="danger"
                  >del</b-button
                >
              </th>
            </tr>
          </tbody>
        </table>
      </template>

        <!-- //ตาราง User//-->
        
        <template v-if = "this.currentUser.roles == 'ROLE_USER'">
       <table class="table   thead-dark  shadow-lg">
          <thead class="thead-light">
            <tr>
              <th scope="col">name</th>
              <th scope="col">address</th>
              <th scope="col">dob</th>
              <th scope="col">gender</th>
              <th scope="col">mobile</th>
              <th scope="col">email</th>
            </tr>
          </thead>
          <tbody  class="thead-light">
            <tr v-for="(tod, index) in getTodobyPaging" v-bind:key="index">
              <th>{{ tod.name }}</th>
              <th>{{ tod.address }}</th>
              <th>{{ tod.dob }}</th>
              <th>{{ tod.gender }}</th>
              <th>{{ tod.mobile }}</th>
              <th>{{ tod.email }}</th>
            </tr>
          </tbody>
        </table>
      </template>

        <!-- //เลือกหน้า //-->
        <ul class="pagination text-center">
          <li class="page-item" v-if="pagenumber == getPage - 1">
            <a class="page-link" href="#">Previous</a>
          </li>
          <li class="page-item" v-for="page in getPage" v-bind:key="page">
            <a class="page-link" href="#" @click="pagenumber = page - 1">{{
              page
            }}</a>
          </li>
          <li class="page-item" v-if="pagenumber != getPage - 1">
            <a class="page-link" href="#">Next </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data () {
    return {
      add: true,
      title: 'New Customer',
      search: ' ',
      form: {
        _id: '',
        name: '',
        address: '',
        dob: '',
        gender: '',
        mobile: '',
        email: ''
      },

      pagenumber: 0,
      pagesize: 5,
      numpage: 0,
      searchu: '',
    }
  },
  methods: {
   
    editCustomers (customers) {
      this.add = false

      this.$bvModal.show('modal-form-customers')

      this.title = 'เเก้ไขข้อมูลลูกค้า'
      this.form = { ...customers }
    },

    addCustomers (customers) {
      customers.id = this.lastid++
      this.customerslist.push(customers)
      this.resetModal()
    },
    addnewCustomers () {
      this.add = true
      this.title = 'เพิ่มข้อมูลลูกค้า'
      this.$bvModal.show('modal-form-customers')
    },
    updateCustomers (customers) {
      const index = this.customerslist.findIndex(
        item => item.id === customers.id
      )
      this.customerslist.splice(index, 1, customers)
    },
    delCustomers (customers) {
      this.boxTwo = ''
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + customers.name + ' หรือไม่', {
          title: 'Please Confirm',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            console.log(customers._id)
            //userservice.delelteUser(user)
            //this.getProduts()
            this.$store.dispatch('SET_ID',customers._id)
             this.$store.dispatch('delelteData')
          }
        })
    },
    onContext (ctx) {
      // The date formatted in the locale, or the `label-no-date-selected` string
      this.formatted = ctx.selectedFormatted
      // The following will be an empty string until a valid date is entered
      this.selected = ctx.selectedYMD
    },

    resetModal () {
      this.form = {
        _id: '',
        name: '',
        address: '',
        dob: '',
        gender: '',
        mobile: '',
        email: ''
      }
    },
    handleOk (bvModalEvt) {
      bvModalEvt.preventDefault()

      this.handleSubmit()
    },

    handleSubmit () {
      if (
        this.statename == false ||
        this.stateaddress == false ||
        this.stateemail == false
      ) {
        return
      }
      if (this.add == false) {
        // thProductspdateUser(this.form);
        // userserviProductspdateUser(this.form)
        //this.getProduts()
      this.$store.dispatch('SET_FORM',this.form)
      this.$store.dispatch('updateData')

      

        this.$nextTick(() => {
          this.$bvModal.hide('modal-form-customers')
        })
      } else {
        this.lastid++
        //this.addUser(this.form);
        //userservice.addUser(this.form);
        delete this.form._id
        /// insert user data
      this.$store.dispatch('SET_FORM',this.form)
      this.$store.dispatch('insertData')

        this.$nextTick(() => {
          this.$bvModal.hide('modal-form-customers')
        })
      }
    }
  },

  computed: {
    ...mapState({
      listdata: state => state.listdata
    }),
    currentUser() {
    
      
      return this.$store.state.auth.user;
    },
    getTodobyPaging () {
      var begin = this.pagenumber * this.pagesize
      var end = begin + this.pagesize

      return this.listdata.slice(begin, end)
    },
    getPage () {
      return Math.ceil(this.listdata.length / this.pagesize)
    },
    Search () {
      return this.form.customers.length >= 2 ? true : false
    },

    statename () {
      return this.form.name.length >= 3
    },
    invalidFeedbackname () {
      if (this.form.name.length >= 3) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'รหัสต้องมีขนาด 3 ตัว'
      } else {
        return 'ต้องใส่ชื่อลูกค้า'
      }
    },
    validFeedbackname () {
      return this.statename === true ? 'สำเร็จ' : ''
    },

    statenumber () {
      return this.form.mobile.length == 10
    },
    invalidFeedbacknumber () {
      if (this.form.mobile.length == 1) {
        return 'ขาดตัวเลขอีก9ตัว'
      } else if (this.form.mobile.length == 2) {
        return 'ขาดตัวเลขอีก8ตัว'
      } else if (this.form.mobile.length == 3) {
        return 'ขาดตัวเลขอีก7ตัว'
      } else if (this.form.mobile.length == 4) {
        return 'ขาดตัวเลขอีก6ตัว'
      } else if (this.form.mobile.length == 5) {
        return 'ขาดตัวเลขอีก5ตัว'
      } else if (this.form.mobile.length == 6) {
        return 'ขาดตัวเลขอีก4ตัว'
      } else if (this.form.mobile.length == 7) {
        return 'ขาดตัวเลขอีก3ตัว'
      } else if (this.form.mobile.length == 8) {
        return 'ขาดตัวเลขอีก2=ตัว'
      } else if (this.form.mobile.length == 9) {
        return 'ขาดตัวเลขอีก1ตัว'
      } else if (this.form.mobile.length > 0) {
        return 'เบอร์โทรต้องเท่ากับสิบหลัก'
      } else {
        return 'ต้องใส่เบอร์โทร'
      }
    },
    validFeedbacknumber () {
      return this.statenumber === true ? 'สำเร็จ' : ''
    },

    statedob () {
      return this.form.name.length >= 3
    },
    invalidFeedbackdob () {
      if (this.form.name.length >= 3) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'รหัสต้องมีขนาด 3 ตัว'
      } else {
        return 'ต้องใส่ชื่อสินค้า'
      }
    },
    validFeedbackdob () {
      return this.statename === true ? 'สำเร็จ' : ''
    },

    stateemail () {
      return this.form.email.length >= 3
    },

    invalidFeedbackemail () {
      if (this.form.email.length >= 3) {
        return ''
      } else if (this.form.email.length > 0) {
        return 'รหัสต้องมีขนาด 3 ตัว'
      } else {
        return 'ต้องใส่อีเมล์'
      }
    },
    validFeedbackemail () {
      return this.statename === true ? 'สำเร็จ' : ''
    },

    stateaddress () {
      return this.form.address != ''
    },
    invalidFeedbackaddress () {
      if (this.form.address.length > 3) {
        return ''
      } else if (this.form.address.length > 0) {
        return 'ราคาต้องมีขนาดอย่างน้อย 3 หลัก'
      } else {
        return 'ต้องใส่ที่อยู่'
      }
    },
    validFeedbackaddress () {
      return this.stateaddress === true ? 'สำเร็จ' : ''
    },

    stateCost () {
      return this.form.dob != ''
    },
    invalidFeedbackCost () {
      if (this.form.dob.length > 3) {
        return ''
      } else {
        return 'ต้องวันเกิด'
      }
    },
    validFeedbackCost () {
      return this.stateCost === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {

    
  

     this.$store.dispatch('SET_LOGIN',true)
     this.$store.dispatch('SET_NAME',"customers")
      this.$store.dispatch('getData') 
    console.log('Vue monted')
  }
}
</script>
