<template>
  <div id="app" class="bg">
    <link rel="stylesheet" href="mystyle.css" />
    
      <Header></Header>
      <div>
        <template v-if="slogin == true">
          <div class="row">
            <div class="col-md-3">
              <Menu></Menu>
            </div>

            <div class="col-md-8">
              <router-view />
            </div>
          </div>
        </template>

        <template v-if="slogin == false">
         

          <div class="row"> 
            <div class="col-md-4"></div>
            <div class="col-md-4 bg"></div>  
            <router-view/>
            <div class="col-md-4"></div>
            </div>
        </template>
      </div>
    </div>

</template>


<style>
body,
html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("https://img.freepik.com/free-vector/espresso-coffee-cup-coffee-beans_79603-1038.jpg?size=626&ext=jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>





<script>
import { mapActions } from "vuex";
import Menu from "../src/components/Menu";

import Header from "../src/components/Header";

import { mapState } from "vuex";
export default {
  role: "",
  components: {
    Menu,

    Header,
  },

  computed: {
    ...mapState({
      slogin: (state) => state.slogin,
    }),
    currentUser() {
      return this.$store.state.auth.user;
    },
    showAdminBoard() {
      if (this.currentUser && this.currentUser.roles) {
        return this.currentUser.roles.includes("ROLE_ADMIN");
      }

      return false;
    },
    showModeratorBoard() {
      if (this.currentUser && this.currentUser.roles) {
        return this.currentUser.roles.includes("ROLE_MODERATOR");
      }

      return false;
    },
  },
  methods: {
    ...mapActions(["SET_LOGIN"]),
    logOut() {
      this.SET_LOGIN(false);
      this.$store.dispatch("auth/logout");
      this.$router.push("/login");
    },
    setRole() {
      this.currentUser.roles;
    },
  },
};
</script>