<template>
  <div>
    <div>
      <!-- //ฟอร์มป็อปอัพ //-->
      <b-modal
        id="modal-form-user"
        ref="modal-form-user"
        :title="title"
        @hidden="resetModal"
        @ok="handleOk"
      >
        <div class="col-md-12">
          
           

            <form name="form">
              <div v-if="!successful">
                <b-form-group>
              <b-form-group label="Username" label-for="Username">
                  <b-form-input
                    name="username"
                    v-model="form.username"
                    v-validate="'required|min:3|max:20'"
                    type="text"
                    class="form-control"
                    placeholder="Username"
                  ></b-form-input>

                  <div
                    v-if="submitted && errors.has('username')"
                    class="alert-danger"
                  >
                    {{ errors.first('username') }}
                  </div>
                </b-form-group>
     <b-form-group label="Email" label-for="email">
                <b-form-group>
                  <b-form-input
                    v-model="form.email"
                    v-validate="'required|email|max:50'"
                    type="email"
                    class="form-control"
                    name="email"
                    placeholder="Email"
                  ></b-form-input>
                  

                  <div
                    v-if="submitted && errors.has('email')"
                    class="alert-danger"
                  >
                    {{ errors.first('email') }}
                  </div>
                </b-form-group>
                  </b-form-group>
                  </b-form-group>

                <b-form-group>
                      <b-form-group   v-if="this.add == true"  label="Password" label-for="password">
                  <b-form-input
                    v-if="this.add == true"
                    v-model="form.password"
                    v-validate="'required|min:6|max:40'"
                    type="password"
                    class="form-control"
                    name="password"
                    placeholder="Password"
                  ></b-form-input>

                  <div
                    v-if="submitted && errors.has('password')"
                    class="alert-danger"
                  >
                    {{ errors.first('password') }}
                  </div>
                </b-form-group>
                  </b-form-group>

                <b-form-group>
                  <b-form-group label="Status" label-for="Status">
                    <b-form-select
                      v-if="this.add == true"
                      v-model="form.roles"
                      :options="options"
                      size="sm"
                      class="mt-3"
                    ></b-form-select>


                      <b-form-select
                      v-if="this.add == false"
                      v-model="form.roles"
                      :options="optionsedit"
                      size="sm"
                      class="mt-3"
                    ></b-form-select>

                  </b-form-group>
                </b-form-group>
              </div>
             
            </form>

            <div
              v-if="message"
              class="alert"
              :class="successful ? 'alert-success' : 'alert-danger'"
            >
              {{ message }}
            </div>
      
        </div>
   
        <!-- //ฟอร์มstatus //-->
      </b-modal>

      <!-- //ออกจากฟอร์ม //-->

      <br />

      <!-- //title bar Admin//-->
      <template v-if="this.currentUser.roles == 'ROLE_ADMIN'">
        <div class="row bg-light shadow-lg" style="height: 50px">
          &nbsp;
          <h4>User Management</h4>
        </div>
      </template>

      <!-- //title bar Admin//-->
      <template v-if="this.currentUser.roles == 'ROLE_USER'">
        <div class="row bg-light shadow-lg" style="height: 50px">
          &nbsp;
          <h4>User Table</h4>
        </div>
      </template>
      <!-- //เว้นวรรค //-->
      <div><br /></div>
      <!-- //ปุ่มเเอด //-->
      <template v-if="this.currentUser.roles == 'ROLE_ADMIN'">
        <b-button
          @click="addnewUser"
          v-b-modal.modal-form-user
          variant="success"
          class="float-right"
          >AddUser</b-button
        >
      </template>
      <div></div>

      <div class="row" style="height: 50px"></div>
      <div class="row">
        <!-- //ตาราง Admin//-->
        <template v-if="this.currentUser.roles == 'ROLE_ADMIN'">
          <table class="table   thead-dark  shadow-lg">
            <thead class="thead-light">
              <tr>
                <th scope="col">username</th>
                <th scope="col">email</th>
                <th scope="col">roles</th>
                <th scope="col">operation</th>
              </tr>
            </thead>
            <tbody class="thead-light">
              <tr v-for="(tod, index) in getTodobyPaging" v-bind:key="index">
                <th>{{ tod.username }}</th>
                <th>{{ tod.email }}</th>

                <th v-if="tod.roles == '5f8d877227f7ef4450b1eafd'">User</th>
                <th v-if="tod.roles == '5f8d877227f7ef4450b1eaff'">Admin</th>
                <th>
                  <b-button @click="editUser(tod)">Edit</b-button>&nbsp;
                  <b-button @click="delUser(tod)" variant="danger"
                    >del</b-button
                  >
                </th>
              </tr>
            </tbody>
          </table>
        </template>

        <!-- //ตาราง User//-->
        <template v-if="this.currentUser.roles == 'ROLE_USER'">
          <table class="table   shadow-lg">
            <thead class="thead-light">
              <tr>
                <th scope="col">username</th>
                <th scope="col">password</th>
                <th scope="col">roles</th>
              </tr>
            </thead>
            <tbody class="thead-light">
              <tr v-for="(tod, index) in getTodobyPaging" v-bind:key="index">
                <th>{{ tod.username }}</th>
                <th>{{ tod.password }}</th>

                <th>{{ tod.roles }}</th>
              </tr>
            </tbody>
          </table>
        </template>

        <!-- //เลือกหน้า //-->
        <ul class="pagination text-center">
          <li class="page-item" v-if="pagenumber == getPage - 1">
            <a class="page-link" href="#">Previous</a>
          </li>
          <li class="page-item" v-for="page in getPage" v-bind:key="page">
            <a class="page-link" href="#" @click="pagenumber = page - 1">{{
              page
            }}</a>
          </li>
          <li class="page-item" v-if="pagenumber != getPage - 1">
            <a class="page-link" href="#">Next </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</template>

<script>
//<!--//อิมพอท// -->
import { mapState } from 'vuex'
//<!--//mapActions ใช้ในการเรียกใช้ actions ใน store// -->
//<!--//mapState ใช้ในการเรียกใช้ ตัวเเปร ใน store.state// -->
export default {
  data () {
    return {
      add: true,
      title: 'เพิ่มผู้ใช้ใหม่',
      search: 'aaa ',
      roledata: 'iii',
      submitted: false,
      successful: false,
      message: '',

      form: {
        _id: ' ',
        username: '',
        email: '',
        password: '',
        roles: []
      },

      pagenumber: 0,
      pagesize: 5,
      numpage: 0,
      searchu: '',

      options: [
        { value: null, text: 'Please select an option' },
        { value: ['admin'], text: 'Admin' },
        { value:["user"], text: 'User' }
      ],
        optionsedit: [
        { value: null, text: 'Please select an option' },
        { value: ['5f8d877227f7ef4450b1eaff'], text: 'Admin' },
        { value:["5f8d877227f7ef4450b1eafd"], text: 'User' }
      ]
    }

  },
  methods: {
    //<!--//mapActions ใช้ในการเรียกใช้ actions ใน store// -->
    handleRegister () {
      this.message = ''
      this.submitted = true
      this.$validator.validate().then(isValid => {
        if (isValid) {
          this.$store.dispatch('auth/register', this.form).then(
            data => {
              this.message = data.message
              this.successful = true
                this.$nextTick(() => {
           this.$store.dispatch('getData')
          this.$bvModal.hide('modal-form-user')
          this.successful = false
        })
            },
            error => {
              this.message =
                (error.response && error.response.data) ||
                error.message ||
                error.toString()
              this.successful = false
            }
          )
        }
      })
    },

    editUser (user) {
      this.add = false
      this.$bvModal.show('modal-form-user')

      this.title = 'เเก้ไขผู้ใช้'
      this.form = { ...user }
    },

    addUser (user) {
      user.id = this.lastid++
      this.userlist.push(user)
      this.resetModal()
    },
    addnewUser () {
      this.add = true
      this.$bvModal.show('modal-form-user')
    },
    updateUser (user) {
      const index = this.userlist.findIndex(item => item.id === user.id)
      this.userlist.splice(index, 1, user)
    },
    delUser (user) {
      this.boxTwo = ''
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ' + user.username + 'หรือไม่', {
          title: 'Please Confirm',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            console.log(user._id)

            this.$store.dispatch('SET_ID', user._id)
            this.$store.dispatch('delelteData')
          }
        })
    },
    onContext (ctx) {
      // The date formatted in the locale, or the `label-no-date-selected` string
      this.formatted = ctx.selectedFormatted
      // The following will be an empty string until a valid date is entered
      this.selected = ctx.selectedYMD
    },
    resetModal () {
      this.form = {
        id: '',
        username: '',
        password: '',
        roles: []
      }
    },

    handleOk (bvModalEvt) {
      bvModalEvt.preventDefault()

      this.handleSubmit()
    },
    handleSubmit () {
      if (this.stateusername == false || this.statepassword == false) {
        return
      }
      if (this.add == false) {
        //update data
        // ส่งค่า form ที่ต้องการเพิ่มข้อมูล ผ่าน method SET_FORM ที่อยู่ใน action
        this.$store.dispatch('SET_FORM', this.form)
        this.$store.dispatch('updateData')

        this.$nextTick(() => {
          this.$bvModal.hide('modal-form-user')
        })
      } else {
        this.lastid++
        delete this.form._id
        /// insert user data
        // ส่งค่า form ที่ต้องการเพิ่มข้อมูล ผ่าน method SET_FORM ที่อยู่ใน action
        this.$store.dispatch('SET_FORM', this.form)
        this.handleRegister()

      
      }
    }
  },
  computed: {
    ...mapState({
      listdata: state => state.listdata
    }),
    currentUser () {
      return this.$store.state.auth.user
    },
    //<!--//mapState ใช้ในการเรียกใช้ ตัวเเปร ใน store.state โดยในที่นี้ตัวกำนดให้ สร้างตัวเเปรlistdata มาเก็บข้อมูลใน state.listdata,// -->

    getTodobyPaging () {
      var begin = this.pagenumber * this.pagesize
      var end = begin + this.pagesize
      //<!--//mapState ใช้ในการเรียกใช้ listdata ,// -->
      return this.listdata.slice(begin, end)
    },
    getPage () {
      return Math.ceil(this.listdata.length / this.pagesize)
    },
    
  },
  mounted () {
        this.$store.dispatch('SET_LOGIN', true)
    this.$store.dispatch('SET_NAME', 'user11')
 

    this.$store.dispatch('getData')
    if (!this.$store.state.datalist){
      return; 
    } 


    // ส่งค่าชื่อ collection ที่ต้องการเรียกข้อมูล ผ่าน method SET_NAME ที่อยู่ใน action
  }
}
</script>
